.label-main-title {
    background-color: rgb(12, 70, 19);
    -unity-font-style: bold;
    font-size: 44px;
    -unity-font: url('project://database/Assets/Thaleah_PixelFont/Materials/ThaleahFat_TTF.ttf?fileID=12800000&guid=585188cdc4600544eb408bee749e4b3a&type=3#ThaleahFat_TTF');
    -unity-font-definition: url('project://database/Assets/Thaleah_PixelFont/Materials/ThaleahFat_TTF%20SDF.asset?fileID=11400000&guid=014e5b86a1804434a8335e0e36f5552b&type=2#ThaleahFat_TTF SDF');
}
